<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.campus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransactionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ApprovalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CardManagementActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnnouncementActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AttendanceActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TitleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".safe.AttendanceApplyActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".safe.ClassAttdanceActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".safe.NeedApprovalActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".safe.PersonalAttdanceActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".safe.PersonalLeaveActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".pay.CardLossReportActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".pay.CardRechargeActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".myclass.AnnouncementAndNoticeActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".myclass.MyTimeTableActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".myclass.PublishHomeworkActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".myclass.PublishNoticeActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".myclass.SearchAttendanceActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".myclass.SearchTimeTableActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>